{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.note.label }}<br>
            {{ form.note(cols=32, rows=4) }}<br>
            {% for error in form.note.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


    {% for note in notes %}
    <div><p>{{ note.author.username }} says: <b>{{ note.body }}</b></p></div>
    {% endfor %}

{% endblock %}
