# Base URL (e.g., https://example.com/)
BASE_URL=

# Login URL (e.g., https://example.com/login)
LOGON_URL=

# Logout URL (e.g., https://example.com/logout)
LOGOUT_URL=

# Login Credentials
USERNAME=
PASSWORD=
